<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css">
    <title>{{ title }}</title>
  </head>
  <body id="base-body">
    <nav id="post-nav">
      <a href="{{ '/' | url }}">Back Home</a>
      <p>
        {{ date | readableDate }}
      </p>
    </nav>
    {# <header id="post-header">
                      <div id="post-header-content">
                        <h1>{{ title }}</h1>
                        <p>{{ description }}</p>
                      </div>
                    </header> #}
    <main id="post-main">
      {{ content | safe }}
    </main>
    <footer id="main-footer">
      <p>&copy; 2023 Poorly Taught</p>
    </footer>
    {% mermaid_js %}
  </body>
</html>