---
layout: 'base.njk'
title: Poorly Taught
description: A place to document my teaching endeavors.
pagination:
  data: collections.post
  size: 10
  alias: blog
---

<ul id="list">
  {%- for post in collections.post | reverse -%}
    <li id="list-item">
      <h3>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </h3>
      {% if post.data.description %}
        <p>{{ post.data.description }}</p>
      {% endif %}
      <p>
        {{ post.date | readableDate }}
      </p>
    </li>
  {%- endfor -%}
</ul>